*{  margin: 0; padding: 0;
	outline: none;
	text-decoration: none;
}
body{
	margin: 0 auto;
	padding:0 auto;
	font-size: 13px;
	line-height: 22px;
	font-family: Arial,Helvetical,Tahoma,sans-serif;
	font-weight: bold;
	background-color: grey;
}
img{
	border: 0px;
}
#header{
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
}
.mobile-header{
	display: none;
}
.top-header{
	background: green;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main-with{
	width: 1000px;
}
.logo-top{
	float: left;
}
.right-header{
	float: right;
}
.right-header ul{

}
#menu-top{
	background: pink;
	height: 62px;
}
.menu{
	height: 30px;
	width: 1000px;
	padding-top: 10px;
}
.menu ul{
	float: left;
}
.menu>ul>li:last-child{
	background: none;
}
.menu ul li{
	display: block;
	float: left;
	position: relative;
	z-index: 10;
	list-style: none;
	margin-left: 8px;
	padding-right: 8px;
}
.menu ul li ul li{
	background: none;
}
.menu ul li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	line-height: 30px;
	padding:0 10px;
	display: block;
	position: relative;
	z-index: 2;
	white-space: nowrap;
}
.clr{
	clear: both;
}
.menu ul li:hover a, .menu ul li.active a{
	background: #DC2625;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0px 2px 0px 0px #791215;
}


/*  ASSSS*/
.menu ul li:hover li a,.menu ul li.active li a{
	background:none;
	box-shadow:0px;
	border: 0px 0px 0px 0px #791215;
}
.menu ul ul {
	position: absolute;
	top: 40px;
	left: 0px;
	width: auto;
	min-width: 100%;
	border-top: solid 3px #DC2625;
	border-bottom: solid 3px #DC2625;
	padding: 10px;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 2px 2px 3px rgba(0,0,0,.3), -2px 0px 3px rgba(0,0,0,.3);
}
.menu ul li:hover ul {
	top: 33px;
	visibility: visible;
	opacity: 1;
}
.menu ul ul li {
	float: none;
	width: 100%;
	margin: 0;
}
.menu ul ul li a {
	background: #fff;
	white-space: nowrap;
	padding: 0 10px !important;
	color: #000;
	font-weight: normal;
	font-size: 13px;
	text-transform: none;
}
.menu ul li:hover li a {
	background: #fff;
	color: #000;
	border-bottom: dotted #ccc 1px;
	line-height: 32px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: none;
}
.menu ul li:hover li a:hover {
	background-color: #DC2625;
	color: #fff;
}
.menu ul li ul li:hover ul {
	visibility: visible;
}
.menu ul li:hover ul ul{
	visibility: hidden;
	left: 100%;
	top: 0px;
}